#mc_embed_signup
  form#mc-embedded-subscribe-form.validate(action='https://bitbee.us17.list-manage.com/subscribe/post?u=5593eff1d07d23b3c1f20cbfa&id=61450c3298', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
    #mc_embed_signup_scroll
      h2 Get your FREE Killer CV
      .indicates-required
        span.asterisk *
        |  indicates required
      .mc-field-group
        label(for='mce-EMAIL')
          | Email Address  
          span.asterisk *
        input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder='Type in your email')
      .mc-field-group
        label(for='mce-FNAME') 
          | First Name 
          span.asterisk *
        input#mce-FNAME(type='text', value='', name='FNAME', placeholder='Type in your first name')
      .mc-field-group
        label(for='mce-LNAME') 
          | Last Name 
          span.asterisk *
        input#mce-LNAME(type='text', value='', name='LNAME', placeholder='Type in your last name')
      .mc-field-group
        label(for='mce-SUGGESTED') If you could decide what course I should do next? 
        input#mce-SUGGESTED(type='text', value='', name='SUGGESTED', placeholder='Got a great idea or pain to share?')
      #mce-responses.clear
        #mce-error-response.response(style='display:none')
        #mce-success-response.response(style='display:none')
      // real people should not fill this in and expect good things - do not remove this or risk form bot signups
      div(style='position: absolute; left: -5000px;', aria-hidden='true')
        input(type='text', name='b_5593eff1d07d23b3c1f20cbfa_61450c3298', tabindex='-1', value='')
      .mc-field-group
        input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')

