doctype html
html
  head
    title My Killer CV - CodeTap
    meta(name="description", content="I’ve got over 30 calls first day, 20 calls second day and then it kept going for months averaging between 5 and 10 calls a day, each day.")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  body
    header
      h1 My killer CV
      p This is the CV template you've always wanted. It's like magic. Feel free to update it with your own conent and get those calls rolling.
    .cv-bg

    .form
      p this is where the form will be
    
    h2 My Killer CV Story
    h3 How it started
    p Back in 2011 when I moved to the UK, a couple of hours later after getting settled in my 2 by 3 meters small room, I’ve started to look for a job. That’s when I started to create my cv, my resume. And of course, at that time I did it the best way I knew at the moment. After two weeks I got a call from a lady that was speaking so fast I couldn’t even understand what is she saying. I was applying to jobs like crazy, 30 to 50 per day until I run out of jobs to apply. I only had £100 left in my wallet to survive for 1 month with food, rent was another matter.
    h3 1st month
    p As I was applying to all kind of jobs I could, desperate to get any income rolling, I’ve also noticed some patterns in the job requirements. So I’ve started to tweak my CV based on the skills that were most required in the job ads. I had my picture on the CV, standard :). I also had my address, sex, driving licence, and so many other details about me in the header of my CV.
    p The about me was 6-7 lines long or more saying that I’m a hard worker, capable of doing everything and eager to learn and all kind of crazy shit we all write. Most importantly is that this about me was the same as the one you’d write or most of us would. In becoming a bit more unique I’d add more stuff that I could do, which would make the about me even longer and most times would have content or ideas repeating itself. Do you already start to relate to this?
    p I was getting ZERO calls back.
    h3 2nd month
    p I’ve started to add one line jokes into it, trying to change formatting, text size, anything. I got a call from someone asking what’s the joke about as he doesn’t get it. All romanians, I mean all of them instantly laugh at that joke. I’ve started to tell that joke to English people around me and nobody, really nobody laughed. I was baffled. The good part is that someone called. This was my second call in two months. Meanwhile I was still providing services to my previous clients in Romania, remotely, so I could barely afford rent and food.
    h3 3rd month
    p I’ve started to introduce design into it, like curves and colours. I’ve also build a website with a domain name ending in .co.uk, just in English version. I’ve started to post on forums and romanian groups in the U.K. that I offer my services and I’ve got some dodgy clients, cheap ones. All I can remember is that it was a real nightmare. I almost started a fight with one dodgy client, I told him that he has two choices: the first is to take his money back and never speak to me again or the second is we start fighting, fists and kicks were ready to fly. He took the money and left. I had to make lots of deal with the devil in order to survive and not return back to Romania full of shame. Meanwhile the CV started to pick up steam. I kept updating it and refactoring it and I was getting one call a week already. I even got two failed interviews as Romanians needed a “work permit” to be able to get employed and most employers were avoiding the hassle. Money was so bad I was walking 2 hours one way to get to the interview as I couldn’t afford a bus ticket.
    h3 4th month
    p I got a job at a factory assembling aluminium ladders. I was paid £5 per hour. That was enough for me to pay rent, food and travel, nothing more. I was working on websites as freelancer, for the dodgy clients, at night. One thing happened that gave me hope. I managed to get rid of all the loans I made from friends back in Romania so I was debt free. I had £34 pounds left and a rent of £360 to pay for next day so back on the forums and job portals and any place I could look for a client. I also got an interview in Fulham, everything went good and I’ve also kind of amazed them, however no call back. The CV was picking up more steam as I got it in a better shape and I was getting 2-3 and sometimes 5 calls a week.
    h3 5th month
    p I got fired from the factory where I was assembling aluminium ladders as I couldn’t provide proof that my paperwork, the NINo (National insurance number) and work permit, are in progress. At the same time I got a call back from the company that I amazed in the interview, this was more than a month later since the initial interview. I finally made it happen. I got my first job in IT in the U.K.
    h3 The revelation
    p Over the years I’ve changed jobs and clients and each time I changed, before and after, I kept updating my cv and I got a steady 5-10 calls a week. That’s until I got to talk over a couple of beers with some managers and people that were on the other side, on the side that listens to people that are interviewed. I was shocked! Almost nothing that I was assuming the interview is about was valid any more. I had to find out more, I had to find out if what I was hearing was true. So I kept looking for those people and getting them for a beer and to get them talking. I also started to do lots and lots of research on the web about it, filtering out the bad shit from the good one. Each day I was more and more amazed about the other side of the table view.
    h3 Finally, it’s alive!
    p After many blasts of new information, I’ve crafted my killer CV, my killer resume. It’s time to test it. Upload it on all job boards I have an account with and wait … Wow! I couldn’t face answering the phone. People were calling while I was talking to other people already. I’ve got over 30 calls first day, 20 calls second day and then it kept going for months averaging between 5 and 10 calls a day, each day. It still happens today and it keeps going.
