doctype html
html
  head
    title My Killer CV - CodeTap
    meta(name="description", content="I’ve got over 30 calls first day, 20 calls second day and then it kept going for months averaging between 5 and 10 calls a day, each day.")
    link(rel="stylesheet", href="style.css")
  body
    h1 This is my awesome killer CV